env/
__pycache__/
.idea/
.vscode/
env/

log/*
!log/.gitkeep

media/*
!media/**/
!media/.gitkeep

media/**/*
!media/**/**/
!media/**/.gitkeep

.env
.DS_Store
gunicorn*.py
main/migrations
*.db
*.lock
*.sqlite
*.sqlite3
