{% extends 'base.html' %}
{% block content %}
{% load static %}            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!--content start-->
                <div id="content" class="site-content">
                    <!---slider-->
                    <section class="slider style_two">
                        <div class="owl-carousel owl_nav_block owl_dots_none theme_carousel owl-theme" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true,  "autoplayHoverPause":true , "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>

                            <!---sldier-->
                            <div class="slide-item-content">
                                <div class="slide-item content_left">
                                    <div class="auto-container">
                                        <div class="row align-items-end">
                                            <div class="col-lg-7 col-md-12 col-sm-12">
                                                <div class="slider_content">
                                                    <div class="bg_image animate_down">

                                                    </div>
                                                    <h6 class="animate_up">
                                                        <img src="{% static 'assets/images/slider/Icon-green.png' %}" class="img-fluid" alt="icon"> 
                                                        Live Your Dream
                                                    </h6>
                                                    <h2 class="animate_left"> O'zbekiston Respublikasi
                                                        "Hunarmand" uyushmasi </h2>

                                                    <div class="button_all animate_down">
                                                        <a href="#" class="theme_btn">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-12 col-sm-12">
                                                <div class="image animate_left">
                                                    <img src="{% static 'assets/images/slider/slider-image-2-1.png' %}" class="img-fluid" alt="icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shape animate_down">
                                    <img src="{% static 'assets/images/slider/slider-2-shape.png' %}" class="img-fluid" alt="icon">
                                </div>
                            </div>
                            <!---slider-->


                            <!---sldier-->
                            <div class="slide-item-content">

                                <div class="slide-item content_left">
                                    <div class="auto-container">
                                        <div class="row align-items-end">
                                            <div class="col-lg-7 col-md-12 col-sm-12">
                                                <div class="slider_content">
                                                    <div class="bg_image animate_down">

                                                    </div>
                                                    <h6 class="animate_up">
                                                        <img src="{% static 'assets/images/slider/Icon-green.png' %}" class="img-fluid" alt="icon">
                                                        Live Your Dream
                                                    </h6>
                                                    <h2 class="animate_left">O'zbekiston Respublikasi <br>
                                                        "Hunarmand" uyushmasi</h2>

                                                    <div class="button_all animate_down">
                                                        <a href="#" class="theme_btn">Read
                                                            More</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-12 col-sm-12">
                                                <div class="image animate_left">
                                                    <img src="{% static 'assets/images/slider/slider-image-2-1.png' %}" class="img-fluid" alt="icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shape animate_down">
                                    <img src="{% static 'assets/images/slider/slider-2-shape.png' %}" class="img-fluid" alt="icon">
                                </div>
                            </div>
                            <!---slider-->




                        </div>
                    </section>
           
            
              
            
                    <section class="analysis-section position-relative bg_8 overflow-hidden">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="ab_img_left_top z_0 mr_top_minus_150">
                            <img src="{% static 'assets/images/shape/wave-pattern-2.png' %}" class="img-fluid" alt="img">
                        </div>
                        <div class="medium-container-two">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center color_white type_one">
                                        <h4 class="sm_title">Turizm sohasida faoliyat yuritayotgan hunarmandlar </h4>
                                        <div class="title_whole">
                                            <h2 class="title">UYUSHMA FAOLIYATI STATISTIKASI</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_30"></div>
                            <!---============spacing==========--->

                            <div class="row">
                                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                <i class=" flaticon-satisfaction"></i></div>
                                        </div>
                                        <h4>
                                            <span class="count">8563</span>
                                            <small>
                                                + </small></h4>
                                        <h6 class="title_no_a_18">Saticfied Custimer</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                <i class=" flaticon-business-people"></i></div>
                                        </div>
                                        <h4>
                                            <span class="count">2630</span>
                                            <small>
                                                + </small></h4>
                                        <h6 class="title_no_a_18">Experience Members</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                <i class=" flaticon-reviews"></i></div>
                                        </div>
                                        <h4>
                                            <span class="count">100</span>
                                            <small>
                                                % </small></h4>
                                        <h6 class="title_no_a_18">Satisfaction Rate</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                <i class=" flaticon-presenter"></i></div>
                                        </div>
                                        <h4>
                                            <span class="count">25</span>
                                            <small>
                                                + </small></h4>
                                        <h6 class="title_no_a_18">Years Experience</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                <i class=" flaticon-trophy"></i></div>
                                        </div>
                                        <h4>
                                            <span class="count">963</span>
                                            <small>
                                                + </small></h4>
                                        <h6 class="title_no_a_18">Awards Winning</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
                            </div>


                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_50"></div>
                        <!---============spacing==========--->
                        <div class="ab_img_right_bottom z_0 mr_bottom_minus_250">
                            <img src="{% static 'assets/images/shape/wave-pattern-1.png' %}" class="img-fluid" alt="img">
                        </div>

                    </section>

                </div>
                <!--content end-->
                <!----==============content_all_warpper==============--->
            </div>
            <!----==============content_all_warpper end==============--->
{% endblock content %}