
{% extends 'base.html' %}
{% block content %}
{% load static %}  

<div class="container">
    <div class="row">
        <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <img src="{% static 'assets/images/message.gif' %}" width="300px" alt="Seriolab" class="logo_default">
          
<h3 style="text-align: center;">Arizangiz Muvaffaqiyatli yuborldi✅</h3>
<p style="text-align: center;">Arizangiz 3 kun ish kunida ko'rib chiqamiz </p>
    
    </div>
    
    <div class="col-md-4">

    </div>
 
        
      
    </div>
</div><br><br>

 <div class="pd_bottom_80"></div>
<div class="pd_bottom_40"></div>
{% endblock content %}